body { 
  background: url(../img/fondoSecundario.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Muli', sans-serif;
}
.contet{
  padding-top: 7em;
}
#mapa{
border-radius: 5px;
}
.itemRest{
  margin-top: 0.4em;
  margin-left: 0.01em;
  margin-right: 0.01em;
  padding: 0.2em;
  background-color:whitesmoke;
  border-radius: 5px;
}   
.search{
  border-radius: 5px;
  background:whitesmoke;
  width: 100%;
  border: none;
}
.text{
  color: greenyellow;
  padding-top: 1em;
  text-align: center;
}
.btnColor{
  color : orange !important;
  background-color: #111111;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}
.btnColor:hover{
  background-color: #535251;
}
a{
  color:#535251;
}
.imgPopModal{
  border-radius: 5px;
  text-align: center;
}
.imgPost{
  border-radius: 5px;
}