body { 
  background: url(../img/fondoSecundario.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Muli', sans-serif;
}
.contet{
  padding-top: 7em;
}
#mapa{
border-radius: 5px;
}
.itemRest{
  margin-top: 0.4em;
  margin-left: 0.01em;
  margin-right: 0.01em;
  padding: 0.2em;
  background-color: gray;
  border-radius: 5px;
}   
.search{
  border-radius: 5px;
  background:#37474F;
  width: 100%;
}
.text{
  color: greenyellow;
  padding-top: 1em;
  text-align: center;
  
}
